@import "@material/button/mdc-button";
@import "@material/textfield/mdc-text-field";

@font-face {
  font-family: AlsinaUltrajada;
  src: url(./Alsina-Ultrajada.TTF);
}

$top-nav-height: 125px;
$footer-height: 140px;
$orange: #F58220;
$gray: #3A3A3C;

* {
  margin: 0;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.App {
  font-family: AlsinaUltrajada, 'Roboto', Arial, Helvetica, sans-serif;
  text-align: center;
}

.App-logo {
  // animation: App-logo-spin infinite 20s linear;
  height: 100px;
  float: left;
  padding-right: 25px;
}

.App-header {
  background-color: $orange;
  height: $top-nav-height;
  color: white;

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.App-title {
  font-size: 2.5em;
  font-family: AlsinaUltrajada, sans-serif;
  margin-top: -5px;
  color: #3A3A3C;

  
}

.App-intro {
  font-size: large;
}

/////////////////////////////////////////////////////////////

.App-content {
  position: relative; 
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  
}

.start-btn {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  @include mdc-button-ink-color(white);
  @include mdc-button-container-fill-color($orange);
  @include mdc-button-corner-radius(5px);
  @include mdc-button-horizontal-padding(50px);
  text-transform: capitalize;
  font-family: AlsinaUltrajada;
  font-size: 20pt;
  height: 75px;

  // Top Bar Animation after button is pressed.
  :hover {
    animation-duration: 1s;
    animation-name: slideup;
  }
}

@keyframes slideup {
  from {
    margin-top:50px;
  }
  to {
    margin-top: 100%;
  }
}

.small-btn {
  @include mdc-button-ink-color($gray);
  @include mdc-button-container-fill-color($orange);
  @include mdc-button-corner-radius(5px);

  text-transform: capitalize;
  font: 15pt AlsinaUltrajada;
  margin-bottom: 25pt;
}

textarea {
  margin-top:30px;
  padding: 10px;
  font: 15pt AlsinaUltrajada;
  border: 0;
  border-bottom: 2px solid $orange;
  background-color: #E8E8E8;
  width: calc(100% - 25vw);
  height: calc(100% - 75px);
  border-radius: 5px 5px 0 0;
  outline: none;
}

input {
  font: 15pt AlsinaUltrajada;
  border: 0;
  padding: 5px 10px 5px 10px;
  margin: 10px;
  border-bottom: 2px solid $orange;
  background-color: #E8E8E8;
}

.numSelect-Label {
  font-size: 15pt;
}

.Large-letters {
  padding-top: calc(5% - 100px);
  font-size: 50px;
  margin: 0 5%;
}

main {
  flex: 1;
}

/////////////////////////////////////////////////////////////

.hidden {
  color: $orange;
  cursor: default;
}

.App-footer {
  background-color: $orange;
  height: $footer-height;
  color: $gray;

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

