@import "@material/button/mdc-button";
@import "@material/textfield/mdc-text-field";

@font-face {
  font-family: AlsinaUltrajada;
  src: url(./Alsina-Ultrajada.TTF);
}

$top-nav-height: 230px;
$footer-height: 115px;
$orange: #F58220;
$gray: #3A3A3C;

* {
  margin: 0;
}

html {
  height: 100%;
  box-sizing: border-box;
  // background-color: #fafafa;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.App {
  font-family: AlsinaUltrajada, 'Roboto', Arial, Helvetica, sans-serif;
  text-align: center;
}

.App-logo {
  // animation: App-logo-spin infinite 20s linear;
  height: 150px;
}

.App-header {
  background-color: $orange;
  height: $top-nav-height;
  padding-top:0px;
  padding-bottom: 50px;
  color: white;

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.App-title {
  font-size: 2.5em;
  font-family: AlsinaUltrajada, sans-serif;
  margin-top: -5px;
  color: #3A3A3C;

  
}

.App-intro {
  font-size: large;
}

.App-content {
  position: relative; 
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  
}

.Large-letters {
  font-size: 500px;
}

.start-btn {
  margin-top: 50px;
  @include mdc-button-ink-color(white);
  @include mdc-button-container-fill-color($orange);
  @include mdc-button-corner-radius(5px);
  @include mdc-button-horizontal-padding(50px);
  text-transform: capitalize;
  font-family: AlsinaUltrajada;
  font-size: 20pt;
  height: 75px;
}

.small-btn {
  @include mdc-button-ink-color($gray);
  @include mdc-button-container-fill-color($orange);
  @include mdc-button-corner-radius(5px);

  text-transform: capitalize;
  font-family: AlsinaUltrajada;
  font-size: 15pt;
  // padding-bottom: 5px;
}

.input-field {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

.txtarea-label {
  font-size: 50pt;
}

.hidden {
  color: white;
  cursor: default;
}

.App-footer {
  background-color: $orange;
  height: $footer-height;
  color: $gray;

  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

